<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="recuperar.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link
        href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css"
        rel="stylesheet" />

    <title>Document</title>
</head>

<body>
    <div class="auth-container">
        <h2 class="form-title">Recuperar contraseña 📨</h2>
        <p>Te enviaremos un correo de recuperación</p>
        <form class="auth-form" id="loginForm">
            <div class="login__box">
                <div class="login__input">
                    <i class="ri-mail-line login__icon"></i>
                    <input type="text" id="username" name="username" placeholder="">
                    <label for="username">Correo Electronico</label>
                </div>
            </div>

            <input class="login__button" type="submit" value="Iniciar Sesión">
        </form>
        <div class="auth-links">
            <a href="login.html">Iniciar Sesión</a>
        </div>
        <div id="mensaje_error"></div>
    </div>
</body>

</html>