<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="stylesheet" href="registro.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <title>Registro</title>
</head>

<body>
    <div class="auth-container">
        <h2 class="form-title">Registro 📝</h2>
        <p>Ingresa las credenciales</p>
        <form class="auth-form" id="registroForm">
            <div class="login__box">
                <div class="login__input">
                    <i class="ri-user-3-line login__icon"></i>
                    <input type="text" id="username" name="username" placeholder="">
                    <label for="">Nombre de usuario</label>
                </div>
            </div>
            <div class="login__box">
                <div class="login__input">
                    <i class="ri-mail-line login__icon"></i>
                    <input type="email" id="email" name="email" placeholder="">
                    <label for="">Correo electrónico</label>
                </div>
            </div>
            <div class="login__box">
                <div class="login__input">
                    <i class="ri-lock-line login__icon"></i>
                    <input type="password" id="password" name="password" placeholder="">
                    <label for="">Contraseña</label>
                    <i class="ri-eye-line icon__eye"></i>
                </div>
            </div>
            <div class="login__box">
                <div class="login__input">
                    <i class="ri-key-line login__icon"></i>
                    <input type="password" id="confirm_password" name="confirm_password" placeholder="">
                    <label for="">Repetir contraseña</label>
                </div>
            </div>
            <input class="login__button"  type="submit" value="Registrar">
        </form>


        <div class="auth-links">
            <a href="login.html">Iniciar sesión </a>
        </div>
        <div id="mensaje_error"></div>
    </div>

    <script>
        document.getElementById('registroForm').onsubmit = function (e) {
            e.preventDefault();

            let username = document.getElementById('username').value;
            let email = document.getElementById('email').value;
            let password = document.getElementById('password').value;
            let confirm_password = document.getElementById('confirm_password').value;

            if (username == "" || email == "" || password == "" || confirm_password == "")
                document.getElementById('mensaje_error').innerHTML = '<center>Rellena los campos</center>';

            if (password != confirm_password)
                document.getElementById('mensaje_error').innerHTML = '<center>Las contraseñas no coinciden</center>';

            let parametros =
            {
                registro: 1,
                username: username,
                email: email,
                password: password
            };

            alert(parametros);

            $.ajax({
                url: "../../controllers/controlador_registro.php",
                type: "POST",
                data: parametros,
                dataType: "html",
                success: function (datos) {
                    console.log(datos);
                }
            });

        };
    </script>
</body>

</html>